.addTarefa-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.addTarefa-input{
    height: 40px;
    padding: 0 1.5%;
    border-radius: 5px;
    border: none;
    flex: 3;
    background-color: #2c2b2b;
    color: white;
    margin-left: 1.5%;
    outline: none;
}

.addTarefa-button-container{
    margin-right: 1.5%;
    margin-left: 1.5%;
    flex: 1;
    width: 100%;
}

#desc{
    width: 95%;
    margin-left: 1.5%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #2c2b2b;
    border: none;
    resize: none;
    font-size: 1.2em;
    color: white;
    outline: none;
    padding-left: 10px;
    height: 80px;
}