#desc{
    width: 95%;
    margin-left: 1.5%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #2c2b2b;
    border: none;
    resize: none;
    font-size: 1.2em;
    color: white;
    outline: none;
    padding-left: 10px;
    height: 100px;
}