.tarefa-detalhes{
    background-color: rgb(44, 43, 43);
    border-radius: 5px;
    margin-top: 5%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: auto;
}

.tarefa-detalhes h2{
    text-align: center;
}

.tarefa-detalhes p{
    margin: 6% 0;
    font-size: 1.1em;
}

.infos-container button{
    width: 30%;
    height: 40px;
    float: right;
    margin-top: 6%;
}